body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

.contenedor {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
}

header {
    background-color: #019c97;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    flex-flow: row wrap; //Hace lo de direccion y baja los elelemetos si no caben los elementos

    .header__div--one {
        flex-direction: row;
        background: #995210;
        display: flex;
        align-items: center;                
        width: auto;
        input {
            width: 10rem;                        
        }
        i {
                       
        }
    }

    .header__div--two>div {
        flex: auto;
    }

    .header__div--two {
        width: 15rem;        
        display: flex;
        flex-direction: row;

        .login--one {
            align-items: center;
            display: flex;

            justify-content: center;
            border: 1px solid red;

            img {
                height: 20px;
            }
        }

        .login--two {
            display: flex;
            flex-direction: row;
            border: 1px solid red;            
            .login-user {
                align-items: center;
                display: flex;
                justify-content: center;
                

                img {
                    height: 45px;
                    margin: 0 0.5rem 0 0.2rem;
                }
            }

            .login-datos {
                display: flex;
                justify-content: center;
                flex-direction: column ;
                text-align: left;                
                
                .login-datos--one {
                    color: white;
                    font-size: 12pt;
                    margin: 0;
                }

                .login-datos--two {
                    color: #49d7d3;
                    font-size: 8.85pt;
                    margin: 0;                    
                }
            }
        }

        .login--three {
            align-items: center;
            display: flex;
            justify-content: center;
            border: 1px solid red;

            .settings {
                height: 15px;
                margin: 0 0.2rem 0 0.5rem;
            }

            .seleccion {
                height: 6px;
                margin: 0 0.5rem 0 0;
            }
        }
    }
}

input {
    display: flex;
    flex: 1;
    border-radius: 0.15rem;
    color: #8896b8;
    font-size: 5pt;
    border: none;
    width: auto;
    height: 25px;
}

p {
    font-weight: lighter;
}

img {
    cursor: pointer;
}

button {
    background: transparent;
}





/*.div-one {
    background-color: #2d3b3b;
    display: flex;
    display: inline-block;
    flex-direction: column;
    flex: 1;
    height: auto;
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    width: auto;
}

.div-two {
    background-color: #65801b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 100px;
    padding: 25px 20px;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
}*/