* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 1rem;
}

.contenedor {
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-flow: row wrap;
}

header {
    background-color: #019c97;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    flex-flow: row wrap; //Hace lo de direccion y baja los elelemetos si no caben los elementos
    height: 30px;

    .header__div--one {
        flex-direction: row;
        background: #995210;
        display: flex;
        align-items: center;        
    }

    .header__div--two {
        height: auto;
        width: auto;
        background: #0e440c;
        display: flex;
        flex-flow: row wrap;
        .login--one {
            align-items: center;
            display: flex;            
            flex: 0.5;
            justify-content: center;            
            border: 1px solid red;
            img {
                height: 15px;
            }            
        }
        .login--two {
            display: flex;
            flex-flow: row wrap;
            border: 1px solid red;
            .login-user {
                align-items: center;
                display: flex;            
                flex: 1;
                justify-content: center; 
                margin: 0 0.2rem 0 0;
                img {
                    height: 25px;
                }
            }                    
            .login-datos {                
                display: flex;                            
                justify-content: center;  
                flex-flow: column wrap;
                text-align: left;                
                .login-datos--one {
                    color: white;
                    font-size: 7pt;
                }
                .login-datos--two {
                    color: #49d7d3;
                    font-size: 5pt;
                }
            }
        }
        .login--three {
            align-items: center;
            display: flex;            
            flex: 0.5;
            justify-content: center;            
            border: 1px solid red;
            .settings {
                height: 10px;
                margin: 0 0.2rem 0 0.5rem;
            }
            .seleccion {
                height: 4px;
                margin: 0 0.5rem 0 0;
            }
        }
    }
}

input {
    display: flex;
    flex-grow: 1;
    border-radius: 0.15rem;
    color: #8896b8;
    font-size: 5pt;
    border: none;
    width: auto;
    height: 15px;
}

p {
    font-weight: lighter;
}

img {
    cursor: pointer;
}

button {
    background: transparent;
}





.div-one {
    background-color: #2d3b3b;
    display: flex;
    display: inline-block;
    flex-direction: column;
    flex: 1;
    height: auto;
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    width: auto;
}

.div-two {
    background-color: #65801b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 100px;
    padding: 25px 20px;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
}