html {
    font-size: 1rem;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input {
    border-radius: 0.6rem;
    border: none;
    color: #8896b8;
    display: flex;
    flex: 1;
    font-size: 9pt;
    height: 35px;
    width: auto;
}

img {
    cursor: pointer;
}

hr {
    background-color: #01a6a1;
    border: none;
    height: 2rem;
    width: 1px;
}

.sidebar {
    background: #2d3b3b;
    display: inline-block;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 50px;

    .toogle {
        align-items: center;
        background-color: #01928d;
        display: flex;
        height: 47.8px;
        justify-content: center;
        text-align: center;
    }

    .iconos {
        align-items: center;
        display: flex;
        height: 47.8px;
        justify-content: center;
        text-align: center;
    }
}

.sidebar--two {
    display: none;
    overflow: hidden;
}

.contenedor {
    display: flex;
    flex-flow: column;
    margin: auto;
    margin: 0 0 0 3.1rem;
}

header {
    //flex-flow: row wrap; //Hace lo de direccion y baja los elelemetos si no caben los elementos
    background-color: #019c97;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    left: 0;
    margin: 0 0 0 3.1rem;
    position: fixed;
    right: 0;
    z-index: 2;

    .header__div--one {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: auto;

        input {
            margin: 0 0 0 1rem;
            padding: 0 0 0 1rem;
            width: 23rem;
        }
    }

    .header__div--two>div {
        margin: 0 0.3rem 0 0.3rem;
    }

    .header__div--two {
        display: flex;
        flex-direction: row;
        width: 15rem;

        .login--one {
            align-items: center;
            display: flex;
            justify-content: center;

            img {
                height: 20px;
            }
        }

        .login--two {
            display: flex;
            flex-direction: row;

            .login-user {
                align-items: center;
                display: flex;
                justify-content: center;

                img {
                    height: 35px;
                    margin: 0 0.5rem 0 0.2rem;
                }
            }

            .login-datos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                margin: 0 0.3rem 0 0;

                .login-datos--one {
                    color: white;
                    font-size: 12pt;
                    margin: 0;
                    font-weight: lighter;
                }

                .login-datos--two {
                    color: #49d7d3;
                    font-size: 8.85pt;
                    margin: 0;
                    font-weight: lighter;
                }
            }
        }

        .login--three {
            align-items: center;
            display: flex;
            justify-content: center;

            .settings {
                height: 15px;
                margin: 0 0.2rem 0 0.5rem;
            }

            .seleccion {
                height: 6px;
                margin: 0 0.5rem 0 0;
            }
        }
    }
}

.contenedor__div--one {
    // background-color: #347e2e;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: auto;
}

.header__div-contraer {
    display: none;
    /* Ocultar por defecto */
    overflow: hidden;
}

.header__div-contraer--two {
    display: none;
    /* Ocultar por defecto */
    overflow: hidden;
}

.contenedor__div--two {
    align-items: flex-end;
    border-top: 1px outset #b0b0b0;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: auto;
    justify-content: flex-start;
    padding: 1rem 2.5rem 0 2.5rem;

    .contenedor__div-two--opciones-one {
        border-bottom: 4px solid #01928d;
        margin-right: 2rem;
    }

    .contenedor__div-two--opciones-two {
        border-bottom: 4px solid white;
        margin-right: 2rem;
    }

    .contenedor__div-two--opciones-three {
        border-bottom: 4px solid white;
    }
}

.contenedor__div--three {
    align-items: center;
    background-color: #e9eeee;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    height: auto;
    justify-content: space-between;
    padding: 4rem 2rem 0 2rem;
    text-align: center;

    .caja--one {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 31rem;
        justify-content: space-between;

        /* Dropdown */
        .dropdown {
            display: inline-block;
            position: relative;
        }

        .dd-button {
            display: flex;
            border: 1px solid #babdbd;
            border-radius: 10px;
            background: #f5f5f5;
            color: #989898;
            cursor: pointer;
            height: 32.5px;
            width: 220px;
            align-items: center;
            padding-left: 1rem;

            .arrow {
                position: relative;
                right: 1.3rem;
            }
        }

        .dd-button:hover {
            background-color: #babdbd;
            color: #989898;
        }

        .dd-input {
            display: none;
        }

        .dd-menu {
            position: absolute;
            border: 1px solid #babdbd;
            border-radius: 5px;
            padding: 0;
            margin: 1px 0 0 50px;
            box-shadow: #babdbd;
            background-color: #f5f5f5;
            list-style-type: none;
            color: #989898;
            z-index: 1;
        }

        .dd-input+.dd-menu {
            display: none;
        }

        .dd-input:checked+.dd-menu {
            display: block;
        }

        .dd-menu li {
            padding: 10px 20px;
            cursor: pointer;
            white-space: nowrap;
        }

        .dd-menu li:hover {
            background-color: #babdbd;
            color: #989898;
        }
    }

    .caja--two {
        align-items: center;
        display: flex;

        input {
            padding: 0 0 0 1rem;
            width: 15rem;
            border: 1px solid #d9d9d9;
        }
    }
}


.todo {
    margin: auto;
    background-color: #e9eeee; 
    .prueba {        
        background-color: #e9eeee;
        max-width: 3000px;
        .contenedor__div--four {
            background-color: #e9eeee;  
            display: flex;
            flex-wrap:wrap;     
            flex-grow: 1;        
            justify-content: space-around;        
            max-width: 3000px;
            
        
            .task {
                width: 350px;
                height: 350px;
                margin-top: 4rem;
                display: flex;
                border-radius: 10px;
                flex-wrap: wrap;
                flex-direction: column;               
                .part--one {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 90px;            
                    justify-content: flex-end;
                    border-radius: 10px 10px 0 0;
                }
        
                .part--two {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    width: auto;
                    height: 90px;
                    justify-content: center;
                    color: white;
        
                    p {
                        margin: 0 0 0 2rem;
                    }
        
                }
        
                .part--three {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    height: 30px;
                    justify-content: center;
                    color: #789494;            
                    margin: 0;
                    z-index: 0;
        
                    .fila--one {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex: 1;                
                    }
                }
        
                .part--four {
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    height: 230px;
                    justify-content: center;
                    border-radius: 0 0 10px 10px;
                    align-items: center;
        
                    p {
                        opacity: 0.2;
                    }
                }
            }
        
            .task--one {
                     
                .part--one {
                    background-color: #36ad5b;
                }
        
                .part--three {
                    background-color: #36ad5b;
        
                    .fila--one {
                        border-top: 0.5px solid #41d570;
                        border-right: 0.5px solid #41d570;
                    }
                }
        
            }
        
            .task--two {
                     
                .part--one {
                    background-color: #ee5252;
                }
        
                .part--three {
                    background-color: #ee5252;
        
                    .fila--one {
                        border-top: 0.5px solid #ff6565;
                        border-right: 0.5px solid #ff6565;
                    }
                }
        
            }
        
            .task--three {
                     
                .part--one {
                    background-color: #845abd;
                }
        
                .part--three {
                    background-color: #845abd;
        
                    .fila--one {
                        border-top: 0.5px solid #a36fea;
                        border-right: 0.5px solid #a36fea;
                    }
                }
        
            }
        }
    }
}



.contenedor__div--four > div {
    margin: 0 1rem;
}

@media all and (max-width: 882px) {
    .contenedor__div--three {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media all and (max-width: 768px) {
    .sidebar {
        display: none;
        overflow: hidden;
    }

    .sidebar--two {
        background: #2d3b3b;
        display: inline-block;
        flex-direction: column;
        height: 100%;
        position: fixed;
        transform: translateX(-50px);
        transition: 0.2s;
        vertical-align: middle;
        width: 50px;

        .toogle {
            align-items: center;
            background-color: #01928d;
            display: flex;
            height: 47.8px;
            justify-content: center;
            text-align: center;
        }

        .iconos {
            align-items: center;
            display: flex;
            height: 47.8px;
            justify-content: center;
            text-align: center;
        }

        &.active {
            transform: translateX(0);
        }
    }

    .contenedor {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        margin: auto;
    }

    header {
        margin: 0;

        .header__div--one {
            display: none;
            /* Ocultar por defecto */
            overflow: hidden;
        }
    }

    .header__div-contraer {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: auto;

        input {
            margin: 0 0 0 3rem;
            padding: 0 0 0 1rem;
            width: 23rem;
        }
    }

}

@media all and (max-width: 680px) {

    .contenedor {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        margin: auto;
    }

    .header__div-contraer {
        display: none;
        /* Ocultar por defecto */
        overflow: hidden;
    }

    .header__div-contraer--two {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: auto;

        #search-one {
            left: 4rem;
        }
    }


}

@media all and (max-width: 550px) {
    .contenedor__div--two {
        font-size: 11pt;
        padding: 1rem 0.6rem 0 0.6rem;

        .contenedor__div-two--opciones-one {
            margin-right: 0.5rem;
        }

        .contenedor__div-two--opciones-two {
            margin-right: 0.5rem;
        }
    }

    .contenedor__div--three {

        .caja--one {
            flex-flow: column wrap;

            .dropdown {
                width: 100%;

                .dd-button {
                    width: auto;

                    .arrow {
                        position: relative;
                        right: 2rem;
                    }
                }
            }
        }

        .caja--two {
            width: 100%;
        }
    }
}

@media all and (max-width: 382px) {
    .contenedor__div--two {
        font-size: 9pt;
        padding: 1rem 0.5rem 0 0.5rem;
    }
}

@media all and (max-width: 320px) {
    .header__div-contraer--two {
        #search-one {
            left: 3rem;
        }
    }

    .contenedor__div--two {
        padding: 1rem 0.2rem 0 0.2rem;
    }
}